*{
    box-sizing: border-box;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.item{
    width: 27%;
    box-shadow: 5px 5px 8px lightgray;
    border-radius:8px;
    padding: 5px 10px;
}
red{
    background-color: red;
    color: white;
 }